.navbar {
        font-family: 'Barlow Condensed' , sans-serif;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: rgb(2, 14, 124);
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 36px;
    margin: 0;
    padding: 0;
}
.nav-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-links a.active {
    color: white;
    border-bottom: 2px solid #cc0000;
    padding-bottom: 4px;
}
.nav-links a:hover {
    color:white;
}
.logo {
    text-align: center;
        font-family: 'Barlow Condensed' , sans-serif;

    
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}
.nav-links ul {
    display:flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

}
.head1 {
    font-family: 'Barlow Condensed' , sans-serif;
    text-align: center;
    font-size: 40px;
}
.head1 p {
    font-size: 30px;
}
.world-cup {
    justify-content: center;
    display: flex;
}
.world-cup img {
    width: 1000px;
    height: auto;
}

